# No longer really used (Using package.json > files)

# Storybook build output and configuration
/docs
/.storybook

# Exclude stories, docs, and tests from the `lib` directory
lib/**/tests/
lib/**/*.todo
lib/**/*.md
lib/**/*.stories.js
lib/**/*.story.mdx

# Development scripts and notes
/generate-story-prompts
/reference
generate-story.js
project.todo
jsconfig.json
README.dev.md

# Build configuration
vite.config.js

lib/**/*.test.js
lib/**/*.spec.js

