////
/// @group print
/// Output print helper stylesheet
////

/// Printed Media Styles 
/// - Includes (.print-exact, .no-print, .print-only, .print-invert)
/// @example scss
///  @include ulu.helper-print-styles();

@use "../selector";

@mixin styles {
  $prefix-print: selector.class("print");
  $prefix-no-print: selector.class("no-print");
  
  #{ $prefix-no-print } {
    @media print {
      display: none !important;
    }
  }

  #{ $prefix-print }-exact {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  #{ $prefix-print }-only {
    @media screen {
      display: none !important;
    }
  }
  // Utility for making dark backgrounds print "ok"
  // - Grayscale added because colors are flipped
  // - Rotating colors doesn't really work
  #{ $prefix-print }-invert {
    @media print {
      filter: invert(1) saturate(0);
    }
  }
}